html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

#header {
	background-color: #606060;
	font-family: sans-serif;
	text-indent: 20px;
	color: white;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}



#menu {
	background-color: #330000;
	color: white;
	font-family: serif;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
}

#menu a{
	color: white;
	text-decoration: none;
}

#menu li {
	display: inline;
	border-right: 0.1rem solid white;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

#menu li:last-child {
	border-right: none;
}

#menu ul{
	margin: 0.6rem;
	padding-left: 0;
}

#content{
	padding-top: 1rem;
	background-color: white;
	padding-left: 1rem;
}

#content h3{
	font-family: verdana;
	font-size: 1.9rem;
	margin: 0.5rem;
	font-weight: bolder;
}

#content img{
	float: left;
	padding-right: 0.5rem;
}

.introduction{
	font-style: italic;
	font-weight: 500;
}

#content ul{
	padding: 0;
}

#content li{
	display: inline;
	background-color: #404040;
	padding: 0.4rem;
}

#content li a{
	text-decoration: none;
	color: white;
}

#content .news-item{
	border-bottom: 0.1rem solid black;
}

body{
	width:50rem;
	margin:auto;
	background-color: #C0C0C0;
}